<div class="row">
    <div class="col-md-4">
        <h2>Our menu</h2>
        <p>
            A menu is a presentation of detailed lists of food items that are served in restaurant or hotel. A menu in any food service organization is considered as the most important planning control tool to run a food service operation.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Menus")">See more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Our crew</h2>
        <p>The duties and responsibilities of a Waiter/Waitress include welcoming and seating guests, taking guest orders, communicating them effectively to the kitchen and in addition, memorizing the menu and offering recommendations to upsell appetizers, desserts, or drinks..</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Waiter")">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Display the documentation</h2>
        <p>See the documentation of our application project.</p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1ZcfAXTTLFNwo3t_gAC5ePTBh3ci7Dq98dwq2dGYeA1A/edit?usp=sharing">See more &raquo;</a></p>
    </div>
</div>
